.content_row {
   display: flex;
   flex-direction: column;
   max-width: 400px;
}

.image_wrapper {
   margin: 5px;
}

.image_wrapper:hover {
   border: 20px solid white;
   background-color: white;
   transform: scale(1.3);
   transition: all 0.1s;
   z-index: 1;
}
